In [24]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [25]:
q_df = pd.DataFrame([['male', 'teacher'], ['male', 'engineer'], ['female', None], ['female', 'engineer']],\
                    columns=['Sex','Profession'])

In [26]:
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [27]:
#缺失值填入字串'others'
q_df=q_df.fillna('others')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [28]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?

#ans
#q_df內容為一般性類別，因此使用get_dummies()較適合
a=pd.get_dummies(q_df.Sex)
b=pd.get_dummies(q_df.Profession)
df=pd.concat([a,b],axis=1)
df

   female  male  engineer  others  teacher
0       0     1         0       0        1
1       0     1         1       0        0
2       1     0         0       1        0
3       1     0         1       0        0