In [158]:
import pandas as pd
import numpy as np

In [159]:
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], \
                         [4,70,77,89], [5,56,80,70], [6,60,54,55], \
                         [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]], \
                        columns=['student_id','math_score','english_score','chinese_score'])

In [168]:
score_df.iloc[:,1:]

   math_score  english_score  chinese_score
0          56             66             70
1          90             45             34
2          45             32             55
3          70             77             89
4          56             80             70
5          60             54             55
6          45             70             79
7          34             77             76
8          25             87             60
9          88             40             43

In [171]:
#6號學生(student_id=6)3科平均分數為何？
avg_6 = score_df.iloc[:,1:].mean(axis=1)[5]
avg_6

56.333333333333336

In [175]:
#6號學生3科平均分數是否有贏過班上一半的同學？
avg_6 > score_df.iloc[:,1:].mean(axis=1).mean()

False

In [178]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
score_df.iloc[:,1:].apply(lambda x: x**0.5*10).mean(axis=1)[5]

75.03544802620011

In [180]:
#承上題，加分後各科班平均變多少？
score_df.iloc[:,1:].apply(lambda x: x**0.5*10).mean(axis=0)

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64